footer {
    width: 100%;
    height: 6.25rem;
    background: #222F33;
    display: grid;
    grid-template-columns: 15.625rem auto 6.25rem 9.375rem;
    align-items: center
}
.footer__info a{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 0.875rem;
    text-decoration: none;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
}
footer .logo{
    margin: 0 auto;
    text-align: center;
}
.mail{
    margin-left:  3.75rem;
}